.stats {
    position: absolute;
    width: 535px;
    height: 349px;
    left: 812px;
    top: 516.5px;
    background: #FFFFFF;
    /* Shadow */

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.head2 {
    margin-left: 30px;
    margin-top: 15px;
    display: inline-block;
}

body {
    color: #000000;
    font-family: Sans-Serif;
    padding: 30px;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #222222
}

/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
    left: 50px;

}

.dd-button {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    width: 357px;
    height: 40px;
    background: #FFFFFF;
/* Light Gray EXB */

border: 1px solid #D7D8D6;
box-sizing: border-box;
border-radius: 49px;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.date{
    margin-left: 50px;
}
.statimg{
    margin-left: 65px;
    margin-top:10px
}